@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Brutal Type';
  scroll-behavior: smooth;
  color-scheme: dark;
}

@font-face {
  font-family: 'Brutal Type';
  src: url('./fonts/BrutalType.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brutal Type';
  src: url('./fonts/BrutalType-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brutal Type';
  src: url('./fonts/BrutalType-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Brutal Type';
  src: url('./fonts/BrutalType-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@layer utilities {
  .px-30 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .py-18 {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .px-135 {
    padding-left: 135.5px;
    padding-right: 135.5px;
  }
}